<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0" />

		<link rel="stylesheet" href="./../../css/includes/default.css">
		<link rel="stylesheet" href="./../../css/views/login.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="./../../js/views/login.js"></script>

		<title>redef./login</title>
	</head>
	<body style="max-width: 100%; min-height: 100%">
		<div id="big-container">
			<div class="unselectable" id="logo">
				ReDef.
			</div>
			<form id="interface-card" novalidate>
				<label class="unselectable" for="username">Username</label>
				<input id="usernameInput" type="text" placeholder="username" name="username" autocomplete="off" title="" required minlength="5" maxlength="25" pattern="^[a-zA-Z\d!@#$%^&*()\-]{6,25}$">
				<label class="unselectable" for="password" id="passwordInputLabel">Password</label>
				<input id="passwordInput" type="password" placeholder="password" name="password" title="" required minlength="6" maxlength="25" pattern="^[a-zA-Z_\d]*$">

				<button id="proceed" type="submit">
					<span id="submitButtonText">Proceed</span>
					<div id="submitLoader"></div>
				</button>
				<button id="registerButton" type="submit">Register</button>
			</form>
		</div>
	</body>
</html>