<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0" />

		<link rel="stylesheet" href="./../../css/includes/default.css">
		<link rel="stylesheet" href="./../../css/views/questions.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="module" src="./../../js/views/questions.js"></script>

		<title>redef.</title>
	</head>
	<body style="max-width: 100%; min-height: 100vh">
		<div class="alertdialog-container-hidden" id="alertdialog-container" style="display: none;">
			<button id="alertdialog-textcontainer">
				<div class="hidden" id="alertdialog-close">
					[ Close ]
				</div>
				<div id="alertdialog-text">
					-
				</div>
			</button>
		</div>
		<div id="big-container">
			<div class="unselectable" id="stat-container">
				<div id="stat-counter">
					<div id="stat-counter-wrong" unselectable="on">
						<div class="stat-counter-header" unselectable="on">
							wrong
						</div>
						<span class="stat-span-disp">0</span>
					</div>
					<div id="stat-counter-correct" unselectable="on">
						<div class="stat-counter-header" unselectable="on">
							correct
						</div>
						<span class="stat-span-disp">0</span>
					</div>
					<div id="stat-counter-total" unselectable="on">
						<div class="stat-counter-header" unselectable="on">
							total
						</div>
						<span class="stat-span-disp">0/0</span>
					</div>
				</div>
				<div id="stat-track">
				</div>
			</div>
			<div class id="play-area">
				<div class="unselectable" id="word-header">
					<div id="word-chapter-header">
						[-]
					</div>
					<span id="word-header-content">:</span>
				</div>
				<div id="answer-box-container">
					<div id="answer-box">
					</div>
					<div id="marking-sheet">
					</div>
				</div>
				<div id="submit-button-container">
					<button id="submit-button">
						Test
					</button>
				</div>
			</div>
			<div class="hidden" id="results-container">
			</div>
		</div>
	</body>
</html>